[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
flask-wtf = "*"
redis = "*"
flask-redis = "*"
flask-limiter = "*"
google-generativeai = "*"
flask-cors = "*"
groq = "*"

[dev-packages]

[requires]
python_version = "3.12"
